* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: blue;
}
/* kai mažesnis dydis ekrano*/
@media (max-width:600px){
    body{
        background-color: lightblue;
    }
}
/* Nuo 600 px  iki 768*/
@media (min-width:600px) and (max-width:768px){
    body {
        background-color: blanchedalmond;
    }
}
