* {
    margin:0 ;
    padding: 0;
}
.flex-container {
    display: flex;
    flex-direction:column;
    justify-content:end;
    align-items:flex-end;
    height: 800px;
    background-color: rgb(230, 248, 35);
    gap: 16px;
}

.flex-item {
    background-color: rgb(81, 195, 64);
    padding: 40px;
    text-align: center;
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid black;
}